# Supabase Configuration
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6Zmh4eG9seHNtc3NkaGNnbGtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MDg0MzQsImV4cCI6MjA5MjA4NDQzNH0.qQzQ8fZQjr3GRr58Gdn_4-VHDnJoM-fVbRzpXBUYecQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6Zmh4eG9seHNtc3NkaGNnbGtkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUwODQzNCwiZXhwIjoyMDkyMDg0NDM0fQ.8Ajw1pKLd6nV4R7Wi0saUttUgG_o_GQq_Ombi9c_wRA

NEXT_PUBLIC_SUPABASE_URL=https://fzfhxxolxsmssdhcglkd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LUvLNP0Mw043fT9mzQVB6A_DxjUvcM7
